@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  display: grid;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.2rem 0.3rem;
  text-transform: capitalize;
  color: #212121;
  cursor: pointer;
  font-size: 0.7rem;
}

.img-link {
  margin-right: 0.75rem;
}

.dotted {
  width: 1rem;
  padding-top: 0.2rem;
  margin-right: 1rem;
}

.avatar {
  background-color: #013220;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

section {
  width: 90vw;
  max-width: 1400px;
  padding: 0 0.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  width: 14rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.input-container {
  width: 45%;
  position: relative;
}

.search-input {
  box-shadow: 1px 1px 5px #999;
  padding: 0.7rem 1.75rem;
  padding-left: 2.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  width: 100%;
  color: #212121;
  font-size: 0.75rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.search-icon,
.voice-over-icon {
  width: 0.9rem;
  position: absolute;
  transform: translateY(-50%);
}

.search-icon {
  bottom: 51%;
  left: 1rem;
}

.voice-over-icon {
  bottom: 52%;
  right: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  color: #757575;
  text-transform: capitalize;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-family: arial;
  font-size: 0.8rem;
  margin-right: 0.75rem;
}

.search-result-container {
  margin-left: 3rem;
}

.search-results {
  line-height: 1.3rem;
  margin-top: 2rem;
  width: 90%;
}

.text-results {
  font-size: 0.75rem;
  color: #212121;
}

.first-tag {
  display: block;
  font-size: 0.7rem;
  color: #212121;
}

.first-tag:hover {
  color: #0000ff;
  text-decoration: underline;
}
